<% layout("/layouts/boilerplate.ejs") -%>
<body >
  <div class="row">
   <div class="col-8 offset-2 mt-3">
    
     <h3>Create a new Listing</h3>
     <form method="POST"  action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-2">
          <label for="title" >Title</label>
          <input
           name="listing[title]"
           type="text"
           id="title"
           placeholder="Add a catchy title" 
           class="form-control"
           required>
          <div class="valid-feedback">TitleLooks good!</div>
        </div>
        
        <div class="mb-2">
          <label for="description" >Description</label>
          <textarea 
           name="listing[description]"
           type="text"
           id="description"
           placeholder="Place description" 
           class="form-control"
           required></textarea>
           <div class="invalid-feedback">Please enter a short description</div>
        </div>
       
      
        <div class="mb-2">
          <label for="image" >Upload Listing Image</label>
          <input
           name="listing[image]"
           type="file" 
           id="image"
           class="form-control"
           required>
        </div>
        <div class="row">
         <div class="mb-3 col-md-4">
          <label for="price" >Price</label>
          <!--removing type:"number" for getting server side validation error-->
          <input
           name="listing[price]"
           id="price"
           placeholder="1200" 
           class="form-control"
           required>
           <div class="invalid-feedback">Price should be valid</div>
         </div>
        
         <div class="mb-3 col-md-8">
          <label for="country">Country</label>
          <input
           name="listing[country]"
           type="text" 
           id="country"
           placeholder="India" 
           class="form-control"
           required>
           <div class="invalid-feedback">Country name should be valid</div>
         </div>
        </div>
        
        <div class="mb-2">
          <label for="location" >Location</label>
          <input
           name="listing[location]"
           type="text" 
           placeholder="vagamon,Kerala" 
           class="form-control"
           required>
           <div class="invalid-feedback">Location should be valid</div>
        </div>
      
        <button class="btn btn-dark add-btn mt-3">Add</button>
        
      </form>
   </div>
  </div>
</body>

